[Unit]
Description=Jitsi ConferenceMapper Service
Requires=conferencemapper.socket
ConditionFileIsExecutable=/usr/bin/gunicorn

[Service]
WorkingDirectory=/root/conferencemapper/conferencemapper
ExecStart=/usr/bin/gunicorn app:app
Restart=on-failure
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
